# Pesos de modelos y checkpoints
*.pth
*.pt
checkpoint_epoch_*.pth

# Datasets pesados
datasets/
70-dog-breeds/
traffic-signs/
google-speech-commands/
dataset_problema2/

# Python y Jupyter
__pycache__/
.ipynb_checkpoints/
.DS_Store

#Prueba en colab
yolov8_nano_v1/
yolov8_small_v1/
*.zip
tp2_senales/
runs/